
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>操作异常</title>
</head>
<body>
    <hgroup style="margin-left:25px;margin-top:25px;">
        <h1>操作异常</h1>
        <h2>请刷新页面再试，或者联系系统管理员，查看日志~</h2>
    </hgroup>
</body>
</html>