
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>系统异常</title>
</head>
<body>
    <hgroup style="margin-left:25px;margin-top:25px;">
        <h1>系统异常</h1>
        <h2>未授权请求，请确认自身访问权限，或联系系统管理员进行相应授权~</h2>
    </hgroup>
</body>
</html>
