<connectionStrings>
  <add name="ETPMSDbContext" connectionString="metadata=res://*/ETPMS.csdl|res://*/ETPMS.ssdl|res://*/ETPMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ETPMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>